<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>

<body>
  <div class="container">
    <h2>Detail Product</h2>
    <a href="/show" class="btn btn-secondary">Back</a>
    <p>Product ID : {{product_id}}</p>
    <p>Product Name : {{product_name}}</p>
    <p>Product Price : {{product_price}}</p>

    {{>footer}}
  </div>  
  {{>bottom}}
  
</body>
</html>